<%- if flash[:notice] -%>
    <span><%= h(flash[:notice]) %></span>
<%- end -%>
<%- @users = [] unless @users -%>
<ul class="statuses">
    <%= "<li>No references on Twitter found</li>" unless @users.size > 0 %>
<%- @users.each do |user| -%>
    <li class="status">
        <span class="author">
            <a href="http://twitter.com/<%= h(user.from_user) %>"><img src="<%= h(user.profile_image_url) %>" alt="<%= h(user.from_user) %>"/></a>
        </span>
        <span class="status-text">
            <%= h(user.text) %>
        </span>
    </li>
<%- end -%>
</ul>
