<%- @scripts = [] unless @scripts -%>
<%- @scripts << 'application' -%>
<h1>Results</h1>
<%- if flash[:notice] -%>
    <div class="flash_notice"><%= h(flash[:notice]) %></div>
<%- end -%>
<div id='search_results'>
    <%- @results = [] unless @results -%>
    <%= "No search results found" unless @results.size > 0 %>
    <%- @results.each_index do |i| -%>
        <%- result = @results[i] -%>
	<div class="yui-gc action" id="action<%= i %>">
            <div class="yui-u first">

                <h3><a id="action_url<%= i %>" href="<%= h(result.url) %>" class="action-title"><%= h(result.title) %></a></h3>
                <div class="action-description">
                    <%= h(result.description) %>
                </div>

                <div class='action-details'>
                    <span class='action-type action-info'><%= h(result.action_type['name']) %></span>
                    created
                    <span class='action-created action-info'><%= h(result.created_at) %></span>
                    on
                    <a href="<%= h(result.site['url']) %>"><%= h(result.site['name']) %></a>
                    <span class='action-hitcount action-info'>
                        views:
                    </span>
                    <%= h(result.hit_count) %> 
                    <span class='action-referrercount action-info'>
                        unique referrers:
                    </span>
                    <%= h(result.referrer_count) %>
                </div>
            </div>
            <div class="yui-u">

                <div class="twitterers">
                    <h3>People on Twitter referring to this action:</h3>
                    <div id="twitterers<%= i %>">
                        <%= image_tag 'ajax-loader.gif', :alt => 'Loading' %> Checking for references on Twitter...
                    </div>
                    <p>
                        <a href="http://twitter.com/home?status=<%= CGI::escape("This looks like a worthy cause: #{h(result.url)} (Please Retweet)") %>" target="blank"><%= image_tag "tweet_this_Action.png", :alt =>"Tweet this action" %></a>                    
                    </p>
                </div>
            </div>
        </div>
    <%- end -%>
</div>
