<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>Find Social Friends</title>
        <%= stylesheet_link_tag "reset-fonts-grids.css" %>
        <%= stylesheet_link_tag "base-min.css" %>
        <%= stylesheet_link_tag "style" %>
        <%= javascript_include_tag 'prototype'%>
        <%- if @scripts -%>
            <%- @scripts.each do |script| -%>
                <%= javascript_include_tag script %>
            <%- end -%>
        <%- end -%>
    </head>
    <body>
        <div id="doc2" class="yui-t7">
            <div id="hd">
                <h1>Find Social Friends</h1>
            </div>
            <div id="bd">
                <%= render :partial => "/basic_search_form" %>
                <%= yield %>
            </div>
        </div>
        <div id="ft">
            <p><a href="http://socialactions.com/welcome"><%= image_tag "socialactions_icon.png", :alt => "Solcial Actions" %></a> Created by Björn Günzel for the <a href="http://www.netsquared.org/changetheweb">Change The Web Challenge</a>. <a href="http://www.netsquared.org/projects/actionfriends">Vote for this entry</a>. <a href="http://twitter.com/Fractality">Follow me on Twitter</a></p>
        </div>
    </body>
</html>

