<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>Find Social Friends</title>
        <%= stylesheet_link_tag "reset-fonts-grids.css" %>
        <%= stylesheet_link_tag "base-min.css" %>
        <%= stylesheet_link_tag "style" %>
        <%= javascript_include_tag 'prototype'%>
        <%- if @scripts -%>
            <%- @scripts.each do |script| -%>
                <%= javascript_include_tag script %>
            <%- end -%>
        <%- end -%>
    </head>
    <body>
        <div id="doc2" class="yui-t7">
            <div id="hd">
                <h1>Find Social Friends</h1>
                <p>
                Search for social actions as seen on <a href="http://socialactions.com/welcome">SocialActions.com</a>. For each search result we will check Twitter for users referencing that action, so that you can hook up with people interested in the same kind of issues as you. See an example search here: <a href="javascript:sampleSearch('women');">women</a>
                </p>
            </div>
            <div id="bd">
                <%= render :partial => "/basic_search_form" %>
                <div id='searchResults'>
                    <%= yield %>
                </div>
                <div id="messages">
                    <div id="searchSpinner" style="display:none">
                        <%= image_tag 'ajax-loader.gif', :alt => 'Loading' %><span class="searching">Searching...</span>
                    </div>
                    <div id="loadError" style="display:none">
                        Sorry, the request to Social Actions failed. Please try again later. 
                    </div>
                </div>
            </div>
        </div>
        <div id="ft">
            <p>
            <a href="http://socialactions.com/welcome"><%= image_tag "socialactions_icon.png", :alt => "Social Actions" %></a>
            </p>
            <p>
            Created by Björn Günzel for the <a href="http://www.netsquared.org/changetheweb">Change The Web Challenge</a>. <a href="http://www.netsquared.org/projects/actionfriends">Please give me a star</a>. <a href="http://twitter.com/Fractality">Follow me on Twitter</a>
            </p>
        </div>
    </body>
</html>

